extends layout

block content
    div
        h1(style='background-color: gold') #{h.moment().endOf('day').fromNow()}
        span(style='background-color: red !important;') Hello my name is #{name}
        div
            - upDog = dog.toUpperCase();
            h1(style='background-color: gold') 'Hello'
            span(style='background-color: red !important;') The Dogs name is #{upDog}
            img(src='dog.jpeg' alt=`Dog ${dog}`)

block footer
    p One
        | Two
        | Three
