extends layout

block content
    .inner
        h2= title
        p Shows any places near you or where you search!
        .map
            .autocomplete
                input.autocomplete__input(type="text" placeholder="Search for Anything" name="geolocate")
            #map
                p Loading Map...