extends layout

include mixins/_storeCard

block content
    //.inner
    //    h3 Lucky Dip
    //    - var rand = stores[Math.floor(Math.random() * stores.length)];
    //        +storeCard(rand)


    .inner
        h2= title
        .stores
            each store in stores
                +storeCard(store)
